#mobilemenu {
    position: sticky;
    top: 0;
    height: 0px;
    width: 400px;
    max-width: 90%;
    transition: all 0.8s;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.5s;

    .mobilemenu_inner {
        position: absolute;
        height: 100vh;
        background-color: #000;
        color: #fff;
        
        .mobilemenu_content {
            padding: 5%;
        }
    }
}

#menutoggle:checked ~ #mobilemenu {    
    transform: translateX(0%);
    transition: all 0.3s;
    display: block;
    transition: all 0.3s;
    
    .mobilemenu_inner {
        width: 100%;
    }
}

#header #menutoggle:checked + label .button { background: red; }

/* == COLUMN CSS == */

$columns: 12;

@for $i from 1 through $columns {
    .column.is-#{$i} {
        flex: 0 0 100% / $columns * $i
    }
}

@for $i from 1 through $columns {
    .column.lg-#{$i} {
        @media (min-width: 1024px) {
            flex: 0 0 100% / $columns * $i
        }
    }
}

@for $i from 1 through $columns {
    .column.md-#{$i} {
        @media (min-width: 768px) and (max-width: 1024px) {
            flex: 0 0 100% / $columns * $i
        }
    }
}

@for $i from 1 through $columns {
    .column.sm-#{$i} {
        @media (min-width: 0px) and (max-width: 768px) {
            flex: 0 0 100% / $columns * $i
        }
    }
}

@media (min-width: 1024px) {
    .lg-none { display: none; }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .md-none { display: none; }
}

@media (min-width: 0px) and (max-width: 768px) {
    .sm-none { display: none; }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .row {
    margin: 0;
}

.row.inner.stacked {
    flex-direction: column;
}

.row:not(.mob-col) {
    @media (max-width: 768px) {
        display: block;
    }
}

.column {
    flex: 1 1 0;
}

.column > div {
    margin: 7px;
}