/* == COLUMN CSS == */
.column.is-1 {
  flex: 0 0 8.3333333333%;
}

.column.is-2 {
  flex: 0 0 16.6666666667%;
}

.column.is-3 {
  flex: 0 0 25%;
}

.column.is-4 {
  flex: 0 0 33.3333333333%;
}

.column.is-5 {
  flex: 0 0 41.6666666667%;
}

.column.is-6 {
  flex: 0 0 50%;
}

.column.is-7 {
  flex: 0 0 58.3333333333%;
}

.column.is-8 {
  flex: 0 0 66.6666666667%;
}

.column.is-9 {
  flex: 0 0 75%;
}

.column.is-10 {
  flex: 0 0 83.3333333333%;
}

.column.is-11 {
  flex: 0 0 91.6666666667%;
}

.column.is-12 {
  flex: 0 0 100%;
}

@media (min-width: 1024px) {
  .column.lg-1 {
    flex: 0 0 8.3333333333%;
  }
}

@media (min-width: 1024px) {
  .column.lg-2 {
    flex: 0 0 16.6666666667%;
  }
}

@media (min-width: 1024px) {
  .column.lg-3 {
    flex: 0 0 25%;
  }
}

@media (min-width: 1024px) {
  .column.lg-4 {
    flex: 0 0 33.3333333333%;
  }
}

@media (min-width: 1024px) {
  .column.lg-5 {
    flex: 0 0 41.6666666667%;
  }
}

@media (min-width: 1024px) {
  .column.lg-6 {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .column.lg-7 {
    flex: 0 0 58.3333333333%;
  }
}

@media (min-width: 1024px) {
  .column.lg-8 {
    flex: 0 0 66.6666666667%;
  }
}

@media (min-width: 1024px) {
  .column.lg-9 {
    flex: 0 0 75%;
  }
}

@media (min-width: 1024px) {
  .column.lg-10 {
    flex: 0 0 83.3333333333%;
  }
}

@media (min-width: 1024px) {
  .column.lg-11 {
    flex: 0 0 91.6666666667%;
  }
}

@media (min-width: 1024px) {
  .column.lg-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-1 {
    flex: 0 0 8.3333333333%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-2 {
    flex: 0 0 16.6666666667%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-3 {
    flex: 0 0 25%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-4 {
    flex: 0 0 33.3333333333%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-5 {
    flex: 0 0 41.6666666667%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-6 {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-7 {
    flex: 0 0 58.3333333333%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-8 {
    flex: 0 0 66.6666666667%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-9 {
    flex: 0 0 75%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-10 {
    flex: 0 0 83.3333333333%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-11 {
    flex: 0 0 91.6666666667%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .column.md-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-1 {
    flex: 0 0 8.3333333333%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-2 {
    flex: 0 0 16.6666666667%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-3 {
    flex: 0 0 25%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-4 {
    flex: 0 0 33.3333333333%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-5 {
    flex: 0 0 41.6666666667%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-6 {
    flex: 0 0 50%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-7 {
    flex: 0 0 58.3333333333%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-8 {
    flex: 0 0 66.6666666667%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-9 {
    flex: 0 0 75%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-10 {
    flex: 0 0 83.3333333333%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-11 {
    flex: 0 0 91.6666666667%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .column.sm-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 1024px) {
  .lg-none {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .md-none {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sm-none {
    display: none;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row .row {
  margin: 0;
}

.row.inner.stacked {
  flex-direction: column;
}

@media (max-width: 768px) {
  .row:not(.mob-col) {
    display: block;
  }
}

.column {
  flex: 1 1 0;
}

.column > div {
  margin: 7px;
}

#mobilemenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 0px;
  width: 400px;
  max-width: 90%;
  transition: all 0.8s;
  z-index: 99;
  transform: translateX(-100%);
  transition: all 0.5s;
}
#mobilemenu .mobilemenu_inner {
  position: absolute;
  height: 100vh;
  background-color: #000;
  color: #fff;
}
#mobilemenu .mobilemenu_inner .mobilemenu_content {
  padding: 5%;
}

#menutoggle:checked ~ #mobilemenu {
  transform: translateX(0%);
  transition: all 0.3s;
  display: block;
  transition: all 0.3s;
}
#menutoggle:checked ~ #mobilemenu .mobilemenu_inner {
  width: 100%;
}

#header #menutoggle:checked + label .button {
  background: red;
}/*# sourceMappingURL=stylev5.css.map */